.welcome-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5rem;
}

.welcome-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--black);
    padding: 0 10rem;
}

.welcome-icon {
    font-size: 5rem;
    color: var(--primary);
    line-height: 5%;
    display: flex;
    transform: scale(4);
}

.welcome-title {
    font-size: 7rem;
    text-align: center;
    line-height: 90%;
}

.welcome-subtitle {
    font-size: 1.5rem;
    text-align: center;
}

.filter-buttons-container {
    background-color: var(--gray);
    margin-top: 10rem;
    width: 100%;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}