header {
    background-color: var(--white);
    border-bottom: 0.1rem solid var(--gray-light);
    position: sticky;
    height: 5rem;
    top: 0;
    margin-bottom: 5rem;
    z-index: 99;
    display: flex;
    justify-content: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-title {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    color: var(--primary);
    transition: all 0.1s;
}

.header-title span {
    color: var(--black);
    margin-left: 0.5rem;
}

.header-nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

.header-nav .pipe {
    margin: 0 0.5rem;
}

.header-nav .nav-link {
    color: var(--black);
    text-decoration: none;
    display: flex;
    align-items: center;
    letter-spacing: 0.05rem;
    cursor: pointer;
    transition: all 0.1s;
    padding: 0;
}

.header-nav .nav-link:hover {
    text-decoration: underline;
    color: var(--primary);
    transform: scale(1.1);
    padding: 0 0.4rem;
}

.header-nav .nav-link-selected {
    text-decoration: underline;
    color: var(--primary) !important;
    transform: scale(1.1);
    padding: 0 0.4rem;
}