header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-color: var(--black);
    height: 5rem;
    top: 0;
    padding: 0 20rem;
    z-index: 99;
    box-shadow: 0 4px 8px 0 rgba(26, 26, 28, 0.2), 0 6px 26px 0 rgba(26, 26, 28, 0.19);
    color: var(--white);
}

header .title {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--white);
    transition: all 0.1s;
}

header .title:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

header .title span {
    margin-left: 0.5rem;
}

header .nav {
    display: flex;
    list-style-type: none;
}

header .nav .pipe {
    margin: 0 0.5rem;
}

header .nav li {
    display: flex;
    align-items: center;
    letter-spacing: 0.05rem;
    cursor: pointer;
    transition: all 0.1s;
}

header .nav li:hover {
    text-decoration: underline;
    transform: scale(1.1);
    padding: 0 1rem;
}