footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    background-color: var(--gray-dark);
    color: var(--gray-lightest);
    padding: 1rem 2rem;
}