.carousel-food {
    width: 100%;
    transition: all 0.2s linear;
}

.item-carousel-food {
    padding: 0 1rem;
}

.item-carousel-food:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item-carousel-food img {
    width: 100%;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.item-carousel-details-food {
    background-color:var(--primary);
    width: 100%;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    padding: 1em;
    color: var(--black);
}