:root {
    --black: #1a1c1c;
    --gray-dark: #222525;
    --gray: #2c3030;
    --gray-light: #4e5555;
    --gray-lightest: #687171;
    --white: #fff;
    --primary: #55e69d;
    --primary-light: #94ffca;
}



/* Fonts */
@font-face {
    font-family: 'Campton Book';
    src: url('assets/fonts/campton/CamptonBook.otf') format('woff');
    
}


/* Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Campton Book', sans-serif;
}

body {
    background-color: var(--black) !important;
    color: var(--white);
    overflow-x: hidden;
}