:root {
    --black: #2b2b2b;
    --gray-dark: #c2c2c2;
    --gray: #e0e0e0;
    --gray-light: #eeeeee;
    --white: #fff;
    --primary: #e95a53;
    --primary-light: #e78c87;
    --primary-high-contrast: #ff2a1f;
}



/* Fonts */
@font-face {
    font-family: 'Campton Book';
    src: url('assets/fonts/campton/CamptonBook.otf') format('woff');
}

/* Fonts */
@font-face {
    font-family: 'Campton SemiBold';
    src: url('assets/fonts/campton/CamptonSemiBold.otf') format('woff');
}


/* Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Campton Book', sans-serif;
}

body {
    background-color: var(--gray-light) !important;
    color: var(--white);
    overflow-x: hidden;
}

.title-name {
    color: var(--primary-high-contrast);   
}

.btn-custom {
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.65rem;
    border: none;
    outline: none;
    transition: all 0.2s;
}

.btn-custom h1, 
.btn-custom h2,
.btn-custom h3,
.btn-custom h4,
.btn-custom h5,
.btn-custom h6 {
    margin: 0;
}

.btn-custom:hover {
    filter: brightness(0.9);
    animation: btn-custom-hover 0.2s linear;
}

@keyframes btn-custom-hover {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

.btn-primary-custom {
    background-color: var(--primary);
    border: 0.15rem solid var(--primary);
    color: var(--white);
}

.btn-outline-primary-custom {
    background-color: var(--white);
    border: 0.15rem solid var(--primary);
    color: var(--primary);
}

